# ----------------

# This file is an example of the .env file that is needed in order for certain
# features of this application to function properly. Use this file as a template
# to create your own .env file. The application will not read the .env.example file.

# Server Env Variables

SFDC_CONSUMER_KEY=
SFDC_CONSUMER_SECRET=
SFDC_USERNAME=
SFDC_PASSWORD=
SFDC_CALLBACK_URI=
SERVER_PORT=